* {
  background-color: rgba(255, 251, 251, 0.932);
}

body {
    display:flex;
    flex-direction:column;
    /* align-items: flex-start; */
    justify-content:flex-start;
    margin:0;
}


/* Bakery header */

header { 
    display:flex;
    justify-content:left;
    flex-wrap: wrap;
    align-items:baseline;
    flex-grow:1;
}

p.brand {
  font-family: "Fira Sans";
  font-size: 76px;
  color: rgb(29, 22, 22);
  text-align: center; 
  flex-grow: 1;
}

/* Nav bar */

nav {
    display:flex;
    flex-grow:4;
    justify-content:space-around;
    margin-bottom: 2em;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

main {
    display:flex;
    flex-direction: row;
    flex-grow: 2;
    /* flex-wrap:wrap; */
    background-color: white;
    /* margin: 3em; */
}

main * {
        background-color: white;
}


/* Product list */
aside{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 20px;
    background-color: rgb(238, 211, 211);
    flex-grow:1;
}

ul {
    display: flex;
    flex-direction: column;
    align-items:left;   
    margin-top:2em;
    gap:7ch;
    background-color:  rgb(238, 211, 211);
    padding-left: 2em;
    padding-right: 2em;
}

li {
    background-color: transparent;
}

/* Article */

article {
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
    background-color: white;
    margin: 3em;
    flex-grow: 3;
}

/* Article header */

h1 {
    display:flex;
    color:brown;
    background-color: white;
    flex-grow: 2;
    padding-left: 0em;
}

/* Article paragraphs */

article p {
    display:flex;
    background-color: rgb(255, 255, 255);
    flex-grow: 4;
    margin-inline: 0.5em;
}


.testimonial {
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(238, 211, 211, 0.486);
    border-radius:1cap;
    padding: 1em;
    margin-inline: 1em;
}

blockquote, figcaption {
    background-color:transparent
}

figcaption {
    text-align:right;
}

footer {
    position: fixed;
    bottom: 0;
    width:100%;
    text-align:center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    flex-grow:1;
}